@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

:root {
	--deats-primary: #ffd44d;
	--deats-redish: #ffa34d;
	--deats-dark: #1b1b1b;
	--deats-white: #fff;
	--deats-ash: #f5f5f5;
	--deats-gray: #dadada;
	--deats-text: #707070;

	--font-heading: 'Rowdies', cursive;
	--font-body: 'Inter', sans-serif;
}

body {
	font-size: 0.9rem;
	color: var(--deats-text);
	font-family: var(--font-body);
	background-color: var(--deats-ash);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--deats-dark);
	font-family: var(--font-heading);
}

input,
textarea,
select,
button {
	font-size: 0.9rem !important;
	font-family: 'Inter', sans-serif !important;
}

.btn {
	font-size: 0.9rem;
	font-family: var(--font-body);
}

/* for toast */
.text-bg-deats {
	color: var(--deats-dark);
	background-color: var(--deats-primary);
}

.btn-close-deats {
	color: var(--deats-dark);
	background-color: var(--deats-primary);
}
/* end toast */

.text-deats {
	color: var(--deats-text);
}

.btn-deats {
	border: none;
	color: var(--deats-text);
	background-color: var(--deats-ash);
}

.btn-deats:hover,
.btn-deats:active {
	color: var(--deats-dark);
	background-color: var(--deats-primary);
}

.btn-deats:disabled {
	color: var(--deats-text);
	background-color: var(--deats-ash);
}

.navbar-brand {
	font-family: var(--font-heading);
	color: var(--deats-dark);
}

.navbar-brand span {
	color: var(--deats-primary);
}

.navbar-toggler {
	border: none;
	background-color: var(--deats-white);
}

.navbar-toggler:active,
.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler-icon {
	transform: scale(0.8);
	color: var(--deats-dark);
}

/* navlink for cart.html */
a.nav-link[href='cart.html'] {
	position: relative;
}

a.nav-link[href='cart.html']::after {
	content: attr(data-count);
	position: absolute;
	top: 50%;
	right: -0.5rem;
	border-radius: 50%;
	transform: translate(50%, -50%);

	height: 1rem;
	width: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 0.7rem;
	font-weight: bold;
	color: var(--deats-dark);
	background-color: var(--deats-primary);
}

@media (max-width: 992px) {
	a.nav-link[href='cart.html'] {
		display: inline-block;
		padding-right: 0.5rem;
	}
}

.category {
	color: var(--deats-primary);
}

.page-item * {
	cursor: pointer;
}

.page-link {
	font-size: 0.9rem;
	color: var(--deats-text);
}

.page-link,
.page-item {
	box-shadow: none !important;
}

.page-link:hover,
.page-link:active,
.page-link.active {
	color: var(--deats-dark);
	border: 1px solid var(--deats-gray);
	background-color: var(--deats-primary);
}

.page-link:focus {
	color: var(--deats-dark);
	background-color: var(--deats-ash);
}

.page-item.active a {
	color: var(--deats-dark);
	border: 1px solid var(--deats-gray);
	background-color: var(--deats-primary);
}

.vegetarian {
	font-size: 0.8rem;
	color: var(--deats-dark);
	background-color: var(--deats-primary);
}

.selectpicker {
	font-size: 0.9rem;
	font-family: var(--font-body);
	background-color: white;
	border: 1px solid var(--deats-gray);
}

.filter-option-inner-inner {
	color: var(--deats-dark);
}

.bootstrap-select .dropdown-toggle {
	outline: none;
	box-shadow: none;
	border: 1px solid var(--deats-gray);
	background-color: var(--deats-white) !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .dropdown-toggle:active {
	outline: none !important;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.bootstrap-select .dropdown-menu {
	font-size: 0.9rem;
	font-family: var(--font-body);
}

.bootstrap-select .dropdown-item:focus {
	color: var(--deats-dark);
	background-color: var(--deats-ash);
}

.bootstrap-select .check-mark {
	color: var(--deats-primary);
}

.square {
	height: 2rem;
	aspect-ratio: 1/1;
}

.card-img-container {
	height: 15rem;
	cursor: pointer;
	overflow: hidden;
}

.card-img-container.horizontal {
	height: 10rem;
}

.card-img-container.showcase {
	height: 30rem;
}

.card-img-container > img {
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
	transform: scale(1.1);
}

.star-rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.star-input {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

.star-label {
	cursor: pointer;
	font-size: 0;
	color: var(--deats-ash);
	transition: color 0.1s ease-in-out;
}

.star-label:before {
	content: '🟊';
	display: inline-block;
	font-size: 1.6rem;
}

.star-input:checked ~ .star-label {
	color: var(--deats-primary);
}

.star-label:hover,
.star-label:hover ~ .star-label {
	color: var(--deats-primary);
}

.star-input:checked + .star-label:hover,
.star-input:checked + .star-label:hover ~ .star-label,
.star-input:checked ~ .star-label:hover,
.star-input:checked ~ .star-label:hover ~ .star-label,
.star-label:hover ~ .star-input:checked ~ .star-label {
	color: var(--deats-redish);
}

.average-rating .star::before {
	content: '🟊';
	line-height: 1;
	font-size: 1.5rem;
	color: var(--deats-gray);
}

.average-rating .star.active::before {
	color: var(--deats-primary);
}
